In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("students.csv")
print(df)
df.head()

     Name  Age Grade
0     Ali   17     A
1    Sara   18     B
2    John   17     A
3  Areeba   19     C

     Name  Age Grade
0     Ali   17     A
1    Sara   18     B
2    John   17     A
3  Areeba   19     C

In [14]:
x = df[['Age', 'Grade']]
print(x)
y = df.iloc[1,0] # iloc is used to access unique values i.e df.iloc[1,2]. here 1 means row of 1 index. and 2 means column of 2 index = B
print(y)
z = df.loc[3, 'Name'] # loc is also used to get unique values but it uses labels as compared to iloc which uses index
print(z)

   Age Grade
0   17     A
1   18     B
2   17     A
3   19     C
Sara
Areeba

In [16]:
df_new = df
df_new.index=['a', 'b', 'c', 'd']
print(df_new)

     Name  Age Grade
a     Ali   17     A
b    Sara   18     B
c    John   17     A
d  Areeba   19     C

In [21]:
a = df_new.loc['c', 'Age']
print(a)
b = df.iloc[0:1, 0:2] # slicing
print(b)
c = df_new.loc['a':'c', 'Name':'Age'] # slicing
print(c)

17
  Name  Age
0  Ali   17
   Name  Age
a   Ali   17
b  Sara   18
c  John   17

In [29]:
unique_values = df_new['Name'].unique() # .unique() is used to find unique values
print(unique_values)

new_df = df[df['Age']>17]
print(new_df)
new_df.to_csv('new_df.csv') # to save as a new csv

['Ali' 'Sara' 'John' 'Areeba']
     Name  Age Grade
1    Sara   18     B
3  Areeba   19     C