### Panda's Series Data Structure Practice

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Task 1: Create a Series of student marks

In [3]:
marks = pd.Series([92, 85, 77, 89], index=["Ali", "Sara", "John", "Ayesha"])
print(marks)

Ali       92
Sara      85
John      77
Ayesha    89
dtype: int64

In [5]:
# Print the marks of "John"
print("John Marks: ", marks["John"])

John Marks:  77

In [6]:
# Change "Sara"â€™s marks to 90
marks["Sara"] = 90
print(marks)

Ali       92
Sara      90
John      77
Ayesha    89
dtype: int64

In [7]:
# Add marks for a new student "Zain" = 81
marks['Zain'] = 81
print(marks)

Ali       92
Sara      90
John      77
Ayesha    89
Zain      81
dtype: int64

#### Task 2: Perform operations on Series

In [8]:
prices = pd.Series([100, 150, 200], index=["Apple", "Banana", "Mango"])
print(prices * 1.1)  # Increase all prices by 10%

Apple     110.0
Banana    165.0
Mango     220.0
dtype: float64

In [9]:
# Add a flat Rs.20 tax to all items
print(prices + 20)

Apple     120
Banana    170
Mango     220
dtype: int64

In [12]:
# Find which item is the most expensive
print(prices.idxmax(), prices.max()) # idxmax() is used to find the highest/expensive item. max() is used to find the highest value

Mango 200

####  Task 3: Detect missing values

In [13]:
data = pd.Series([20, None, 55, None, 85])
print(data.isnull())
print(data.dropna())  # Removes missing values

0    False
1     True
2    False
3     True
4    False
dtype: bool
0    20.0
2    55.0
4    85.0
dtype: float64

In [18]:
# Fill missing values with 0
s = data.fillna(0)
print(s)

0    20.0
1     0.0
2    55.0
3     0.0
4    85.0
dtype: float64

In [19]:
# Count how many values are missing
missing_count = data.isnull().sum()
print(missing_count)

2

#### Task 4: Filtering with condition

In [20]:
temperatures = pd.Series([35, 40, 28, 41, 33], index=["Mon", "Tue", "Wed", "Thu", "Fri"])
print(temperatures[temperatures > 35])

Tue    40
Thu    41
dtype: int64

In [21]:
# Find the days with temperatures less than or equal to 35
print(temperatures[temperatures <= 35])

Mon    35
Wed    28
Fri    33
dtype: int64

####  Task 5: Convert a dictionary to a Series

In [22]:
city_population = {
    "Lahore": 11_000_000,
    "Karachi": 15_000_000,
    "Islamabad": 1_200_000
}

population_series = pd.Series(city_population)
print(population_series)

Lahore       11000000
Karachi      15000000
Islamabad     1200000
dtype: int64

In [23]:
# Get population of Karachi
print(population_series["Karachi"])

15000000

In [25]:
# Find average population of all cities
print(pd.Series.mean(population_series))

9066666.666666666